/.vs/RPA_FLAT/v15/.suo
/.vs/RPA_FLAT/v15/Server/sqlite3/db.lock
/.vs/RPA_FLAT/v15/Server/sqlite3/storage.ide
/.vs/RPA_FLAT/v15/Server/sqlite3/storage.ide-shm
/.vs/RPA_FLAT/v15/Server/sqlite3/storage.ide-wal
/Excel/bin/Debug/ExcelApi.dll
/Excel/bin/Debug/ExcelApi.xml
/Excel/bin/Debug/ExcelDataReader.DataSet.dll
/Excel/bin/Debug/ExcelDataReader.DataSet.xml
/Excel/bin/Debug/ExcelDataReader.dll
/Excel/bin/Debug/ExcelDataReader.xml
/Excel/bin/Debug/NetOffice.dll
/Excel/bin/Debug/NetOffice.xml
/Excel/bin/Debug/Office.dll
/Excel/bin/Debug/Office.pdb
/Excel/bin/Debug/OfficeApi.dll
/Excel/bin/Debug/OfficeApi.xml
/Excel/bin/Debug/VBIDEApi.dll
/Excel/bin/Debug/VBIDEApi.xml
/Excel/bin/Debug/WordApi.dll
/Excel/bin/Debug/WordApi.xml
/Excel/bin/Debug/stdole.dll
/Excel/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Excel/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Excel/obj/Debug/Office.csproj.CopyComplete
/Excel/obj/Debug/Office.csproj.CoreCompileInputs.cache
/Excel/obj/Debug/Office.csproj.FileListAbsolute.txt
/Excel/obj/Debug/Office.csprojAssemblyReference.cache
/Excel/obj/Debug/Office.dll
/Excel/obj/Debug/Office.pdb
/Excel/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Excel/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Excel/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/RPA_FLAT/bin/Debug/ControlzEx.dll
/RPA_FLAT/bin/Debug/ControlzEx.pdb
/RPA_FLAT/bin/Debug/ExcelApi.dll
/RPA_FLAT/bin/Debug/ExcelApi.xml
/RPA_FLAT/bin/Debug/ExcelDataReader.DataSet.dll
/RPA_FLAT/bin/Debug/ExcelDataReader.DataSet.xml
/RPA_FLAT/bin/Debug/ExcelDataReader.dll
/RPA_FLAT/bin/Debug/ExcelDataReader.xml
/RPA_FLAT/bin/Debug/MahApps.Metro.IconPacks.Material.dll
/RPA_FLAT/bin/Debug/MahApps.Metro.IconPacks.Material.pdb
/RPA_FLAT/bin/Debug/MahApps.Metro.IconPacks.Material.xml
/RPA_FLAT/bin/Debug/MahApps.Metro.IconPacks.Modern.dll
/RPA_FLAT/bin/Debug/MahApps.Metro.IconPacks.Modern.pdb
/RPA_FLAT/bin/Debug/MahApps.Metro.IconPacks.Modern.xml
/RPA_FLAT/bin/Debug/MahApps.Metro.IconPacks.dll
/RPA_FLAT/bin/Debug/MahApps.Metro.IconPacks.pdb
/RPA_FLAT/bin/Debug/MahApps.Metro.IconPacks.xml
/RPA_FLAT/bin/Debug/MahApps.Metro.dll
/RPA_FLAT/bin/Debug/MahApps.Metro.pdb
/RPA_FLAT/bin/Debug/MahApps.Metro.xml
/RPA_FLAT/bin/Debug/NetOffice.dll
/RPA_FLAT/bin/Debug/NetOffice.xml
/RPA_FLAT/bin/Debug/Office.dll
/RPA_FLAT/bin/Debug/Office.pdb
/RPA_FLAT/bin/Debug/OfficeApi.dll
/RPA_FLAT/bin/Debug/OfficeApi.xml
/RPA_FLAT/bin/Debug/RPA_FLAT.exe
/RPA_FLAT/bin/Debug/RPA_FLAT.exe.config
/RPA_FLAT/bin/Debug/RPA_FLAT.pdb
/RPA_FLAT/bin/Debug/Repository.dll
/RPA_FLAT/bin/Debug/Repository.pdb
/RPA_FLAT/bin/Debug/System.Windows.Interactivity.dll
/RPA_FLAT/bin/Debug/Tool.dll
/RPA_FLAT/bin/Debug/Tool.pdb
/RPA_FLAT/bin/Debug/VBIDEApi.dll
/RPA_FLAT/bin/Debug/VBIDEApi.xml
/RPA_FLAT/bin/Debug/stdole.dll
/RPA_FLAT/obj/Debug/App.baml
/RPA_FLAT/obj/Debug/App.g.cs
/RPA_FLAT/obj/Debug/App.g.i.cs
/RPA_FLAT/obj/Debug/Core/Window/CommandVariablesWindow.baml
/RPA_FLAT/obj/Debug/Core/Window/CommandVariablesWindow.g.cs
/RPA_FLAT/obj/Debug/Core/Window/CommandVariablesWindow.g.i.cs
/RPA_FLAT/obj/Debug/Core/Window/MainWindow.baml
/RPA_FLAT/obj/Debug/Core/Window/MainWindow.g.cs
/RPA_FLAT/obj/Debug/Core/Window/MainWindow.g.i.cs
/RPA_FLAT/obj/Debug/Core/Window/RedactionVariableWindow.baml
/RPA_FLAT/obj/Debug/Core/Window/RedactionVariableWindow.g.cs
/RPA_FLAT/obj/Debug/Core/Window/RedactionVariableWindow.g.i.cs
/RPA_FLAT/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/RPA_FLAT/obj/Debug/RPA_FLAT.Properties.Resources.resources
/RPA_FLAT/obj/Debug/RPA_FLAT.csproj.CopyComplete
/RPA_FLAT/obj/Debug/RPA_FLAT.csproj.CoreCompileInputs.cache
/RPA_FLAT/obj/Debug/RPA_FLAT.csproj.FileListAbsolute.txt
/RPA_FLAT/obj/Debug/RPA_FLAT.csproj.GenerateResource.cache
/RPA_FLAT/obj/Debug/RPA_FLAT.csprojAssemblyReference.cache
/RPA_FLAT/obj/Debug/RPA_FLAT.exe
/RPA_FLAT/obj/Debug/RPA_FLAT.g.resources
/RPA_FLAT/obj/Debug/RPA_FLAT.pdb
/RPA_FLAT/obj/Debug/RPA_FLAT_MarkupCompile.cache
/RPA_FLAT/obj/Debug/RPA_FLAT_MarkupCompile.i.cache
/RPA_FLAT/obj/Debug/RPA_FLAT_MarkupCompile.lref
/RPA_FLAT/obj/Debug/Resources/Icons.baml
/RPA_FLAT/obj/Debug/Resources/IconsNonShared.baml
/RPA_FLAT/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/RPA_FLAT/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/RPA_FLAT/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Repository/bin/Debug/Repository.dll
/Repository/bin/Debug/Repository.pdb
/Repository/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Repository/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Repository/obj/Debug/Repository.csproj.CoreCompileInputs.cache
/Repository/obj/Debug/Repository.csproj.FileListAbsolute.txt
/Repository/obj/Debug/Repository.csprojAssemblyReference.cache
/Repository/obj/Debug/Repository.dll
/Repository/obj/Debug/Repository.pdb
/Repository/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Repository/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Repository/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Tool/bin/Debug/Tool.dll
/Tool/bin/Debug/Tool.pdb
/Tool/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Tool/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Tool/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Tool/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Tool/obj/Debug/Tool.csproj.CoreCompileInputs.cache
/Tool/obj/Debug/Tool.csproj.FileListAbsolute.txt
/Tool/obj/Debug/Tool.csprojAssemblyReference.cache
/Tool/obj/Debug/Tool.dll
/Tool/obj/Debug/Tool.pdb
/packages/ControlzEx.3.0.2.4/.signature.p7s
/packages/ControlzEx.3.0.2.4/ControlzEx.3.0.2.4.nupkg
/packages/ControlzEx.3.0.2.4/lib/net40/ControlzEx.dll
/packages/ControlzEx.3.0.2.4/lib/net40/ControlzEx.pdb
/packages/ControlzEx.3.0.2.4/lib/net40/System.Windows.Interactivity.dll
/packages/ControlzEx.3.0.2.4/lib/net45/ControlzEx.dll
/packages/ControlzEx.3.0.2.4/lib/net45/ControlzEx.pdb
/packages/ControlzEx.3.0.2.4/lib/net45/System.Windows.Interactivity.dll
/packages/ControlzEx.3.0.2.4/lib/net462/ControlzEx.dll
/packages/ControlzEx.3.0.2.4/lib/net462/ControlzEx.pdb
/packages/ControlzEx.3.0.2.4/lib/net462/System.Windows.Interactivity.dll
/packages/ExcelDataReader.3.4.2/.signature.p7s
/packages/ExcelDataReader.3.4.2/ExcelDataReader.3.4.2.nupkg
/packages/ExcelDataReader.3.4.2/lib/net20/ExcelDataReader.dll
/packages/ExcelDataReader.3.4.2/lib/net20/ExcelDataReader.xml
/packages/ExcelDataReader.3.4.2/lib/net45/ExcelDataReader.dll
/packages/ExcelDataReader.3.4.2/lib/net45/ExcelDataReader.xml
/packages/ExcelDataReader.3.4.2/lib/netstandard1.3/ExcelDataReader.dll
/packages/ExcelDataReader.3.4.2/lib/netstandard1.3/ExcelDataReader.xml
/packages/ExcelDataReader.3.4.2/lib/netstandard2.0/ExcelDataReader.dll
/packages/ExcelDataReader.3.4.2/lib/netstandard2.0/ExcelDataReader.xml
/packages/ExcelDataReader.DataSet.3.4.2/.signature.p7s
/packages/ExcelDataReader.DataSet.3.4.2/ExcelDataReader.DataSet.3.4.2.nupkg
/packages/ExcelDataReader.DataSet.3.4.2/lib/net20/ExcelDataReader.DataSet.dll
/packages/ExcelDataReader.DataSet.3.4.2/lib/net20/ExcelDataReader.DataSet.xml
/packages/ExcelDataReader.DataSet.3.4.2/lib/net35/ExcelDataReader.DataSet.dll
/packages/ExcelDataReader.DataSet.3.4.2/lib/net35/ExcelDataReader.DataSet.xml
/packages/ExcelDataReader.DataSet.3.4.2/lib/netstandard2.0/ExcelDataReader.DataSet.dll
/packages/ExcelDataReader.DataSet.3.4.2/lib/netstandard2.0/ExcelDataReader.DataSet.xml
/packages/MahApps.Metro.1.6.5/.signature.p7s
/packages/MahApps.Metro.1.6.5/MahApps.Metro.1.6.5.nupkg
/packages/MahApps.Metro.1.6.5/lib/net40/MahApps.Metro.dll
/packages/MahApps.Metro.1.6.5/lib/net40/MahApps.Metro.pdb
/packages/MahApps.Metro.1.6.5/lib/net40/MahApps.Metro.xml
/packages/MahApps.Metro.1.6.5/lib/net45/MahApps.Metro.dll
/packages/MahApps.Metro.1.6.5/lib/net45/MahApps.Metro.pdb
/packages/MahApps.Metro.1.6.5/lib/net45/MahApps.Metro.xml
/packages/MahApps.Metro.1.6.5/lib/net46/MahApps.Metro.dll
/packages/MahApps.Metro.1.6.5/lib/net46/MahApps.Metro.pdb
/packages/MahApps.Metro.1.6.5/lib/net46/MahApps.Metro.xml
/packages/MahApps.Metro.1.6.5/lib/net47/MahApps.Metro.dll
/packages/MahApps.Metro.1.6.5/lib/net47/MahApps.Metro.pdb
/packages/MahApps.Metro.1.6.5/lib/net47/MahApps.Metro.xml
/packages/MahApps.Metro.IconPacks.2.3.0/.signature.p7s
/packages/MahApps.Metro.IconPacks.2.3.0/MahApps.Metro.IconPacks.2.3.0.nupkg
/packages/MahApps.Metro.IconPacks.2.3.0/lib/net40/MahApps.Metro.IconPacks.XML
/packages/MahApps.Metro.IconPacks.2.3.0/lib/net40/MahApps.Metro.IconPacks.dll
/packages/MahApps.Metro.IconPacks.2.3.0/lib/net40/MahApps.Metro.IconPacks.pdb
/packages/MahApps.Metro.IconPacks.2.3.0/lib/net45/MahApps.Metro.IconPacks.XML
/packages/MahApps.Metro.IconPacks.2.3.0/lib/net45/MahApps.Metro.IconPacks.dll
/packages/MahApps.Metro.IconPacks.2.3.0/lib/net45/MahApps.Metro.IconPacks.pdb
/packages/MahApps.Metro.IconPacks.2.3.0/lib/net46/MahApps.Metro.IconPacks.XML
/packages/MahApps.Metro.IconPacks.2.3.0/lib/net46/MahApps.Metro.IconPacks.dll
/packages/MahApps.Metro.IconPacks.2.3.0/lib/net46/MahApps.Metro.IconPacks.pdb
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Core.dll
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Core.pdb
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Core.pri
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Core.xml
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Core/Converter/Converters.xaml
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Core/Converter/Converters.xbf
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Core/MahApps.Metro.IconPacks.Core.xr.xml
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.dll
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.pdb
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.pri
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.xml
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/MahApps.Metro.IconPacks.xr.xml
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/Themes/Generic.xaml
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/Themes/Generic.xbf
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/Themes/IconPacks.xaml
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/Themes/IconPacks.xbf
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/Themes/PackIconEntypo.xaml
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/Themes/PackIconEntypo.xbf
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/Themes/PackIconFontAwesome.xaml
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/Themes/PackIconFontAwesome.xbf
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/Themes/PackIconMaterial.xaml
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/Themes/PackIconMaterial.xbf
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/Themes/PackIconMaterialLight.xaml
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/Themes/PackIconMaterialLight.xbf
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/Themes/PackIconModern.xaml
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/Themes/PackIconModern.xbf
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/Themes/PackIconOcticons.xaml
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/Themes/PackIconOcticons.xbf
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/Themes/PackIconSimpleIcons.xaml
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/Themes/PackIconSimpleIcons.xbf
/packages/MahApps.Metro.IconPacks.Material.2.3.0/.signature.p7s
/packages/MahApps.Metro.IconPacks.Material.2.3.0/MahApps.Metro.IconPacks.Material.2.3.0.nupkg
/packages/MahApps.Metro.IconPacks.Material.2.3.0/lib/net40/MahApps.Metro.IconPacks.Material.XML
/packages/MahApps.Metro.IconPacks.Material.2.3.0/lib/net40/MahApps.Metro.IconPacks.Material.dll
/packages/MahApps.Metro.IconPacks.Material.2.3.0/lib/net40/MahApps.Metro.IconPacks.Material.pdb
/packages/MahApps.Metro.IconPacks.Material.2.3.0/lib/net45/MahApps.Metro.IconPacks.Material.XML
/packages/MahApps.Metro.IconPacks.Material.2.3.0/lib/net45/MahApps.Metro.IconPacks.Material.dll
/packages/MahApps.Metro.IconPacks.Material.2.3.0/lib/net45/MahApps.Metro.IconPacks.Material.pdb
/packages/MahApps.Metro.IconPacks.Material.2.3.0/lib/net46/MahApps.Metro.IconPacks.Material.XML
/packages/MahApps.Metro.IconPacks.Material.2.3.0/lib/net46/MahApps.Metro.IconPacks.Material.dll
/packages/MahApps.Metro.IconPacks.Material.2.3.0/lib/net46/MahApps.Metro.IconPacks.Material.pdb
/packages/MahApps.Metro.IconPacks.Material.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Core.dll
/packages/MahApps.Metro.IconPacks.Material.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Core.pdb
/packages/MahApps.Metro.IconPacks.Material.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Core.pri
/packages/MahApps.Metro.IconPacks.Material.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Core.xml
/packages/MahApps.Metro.IconPacks.Material.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Core/Converter/Converters.xaml
/packages/MahApps.Metro.IconPacks.Material.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Core/Converter/Converters.xbf
/packages/MahApps.Metro.IconPacks.Material.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Core/MahApps.Metro.IconPacks.Core.xr.xml
/packages/MahApps.Metro.IconPacks.Material.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Material.XML
/packages/MahApps.Metro.IconPacks.Material.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Material.dll
/packages/MahApps.Metro.IconPacks.Material.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Material.pdb
/packages/MahApps.Metro.IconPacks.Material.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Material.pri
/packages/MahApps.Metro.IconPacks.Material.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Material/MahApps.Metro.IconPacks.Material.xr.xml
/packages/MahApps.Metro.IconPacks.Material.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Material/Themes/Generic.xaml
/packages/MahApps.Metro.IconPacks.Material.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Material/Themes/Generic.xbf
/packages/MahApps.Metro.IconPacks.Material.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Material/Themes/PackIconMaterial.xaml
/packages/MahApps.Metro.IconPacks.Material.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Material/Themes/PackIconMaterial.xbf
/packages/MahApps.Metro.IconPacks.Modern.2.3.0/.signature.p7s
/packages/MahApps.Metro.IconPacks.Modern.2.3.0/MahApps.Metro.IconPacks.Modern.2.3.0.nupkg
/packages/MahApps.Metro.IconPacks.Modern.2.3.0/lib/net40/MahApps.Metro.IconPacks.Modern.XML
/packages/MahApps.Metro.IconPacks.Modern.2.3.0/lib/net40/MahApps.Metro.IconPacks.Modern.dll
/packages/MahApps.Metro.IconPacks.Modern.2.3.0/lib/net40/MahApps.Metro.IconPacks.Modern.pdb
/packages/MahApps.Metro.IconPacks.Modern.2.3.0/lib/net45/MahApps.Metro.IconPacks.Modern.XML
/packages/MahApps.Metro.IconPacks.Modern.2.3.0/lib/net45/MahApps.Metro.IconPacks.Modern.dll
/packages/MahApps.Metro.IconPacks.Modern.2.3.0/lib/net45/MahApps.Metro.IconPacks.Modern.pdb
/packages/MahApps.Metro.IconPacks.Modern.2.3.0/lib/net46/MahApps.Metro.IconPacks.Modern.XML
/packages/MahApps.Metro.IconPacks.Modern.2.3.0/lib/net46/MahApps.Metro.IconPacks.Modern.dll
/packages/MahApps.Metro.IconPacks.Modern.2.3.0/lib/net46/MahApps.Metro.IconPacks.Modern.pdb
/packages/MahApps.Metro.IconPacks.Modern.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Core.dll
/packages/MahApps.Metro.IconPacks.Modern.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Core.pdb
/packages/MahApps.Metro.IconPacks.Modern.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Core.pri
/packages/MahApps.Metro.IconPacks.Modern.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Core.xml
/packages/MahApps.Metro.IconPacks.Modern.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Core/Converter/Converters.xaml
/packages/MahApps.Metro.IconPacks.Modern.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Core/Converter/Converters.xbf
/packages/MahApps.Metro.IconPacks.Modern.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Core/MahApps.Metro.IconPacks.Core.xr.xml
/packages/MahApps.Metro.IconPacks.Modern.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Modern.XML
/packages/MahApps.Metro.IconPacks.Modern.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Modern.dll
/packages/MahApps.Metro.IconPacks.Modern.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Modern.pdb
/packages/MahApps.Metro.IconPacks.Modern.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Modern.pri
/packages/MahApps.Metro.IconPacks.Modern.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Modern/MahApps.Metro.IconPacks.Modern.xr.xml
/packages/MahApps.Metro.IconPacks.Modern.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Modern/Themes/Generic.xaml
/packages/MahApps.Metro.IconPacks.Modern.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Modern/Themes/Generic.xbf
/packages/MahApps.Metro.IconPacks.Modern.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Modern/Themes/PackIconModern.xaml
/packages/MahApps.Metro.IconPacks.Modern.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Modern/Themes/PackIconModern.xbf
/packages/MahApps.Metro.Resources.0.6.1.0/.signature.p7s
/packages/MahApps.Metro.Resources.0.6.1.0/MahApps.Metro.Resources.0.6.1.0.nupkg
/packages/MahApps.Metro.Resources.0.6.1.0/content/Resources/Entypo-license.txt
/packages/MahApps.Metro.Resources.0.6.1.0/content/Resources/Entypo.ttf
/packages/MahApps.Metro.Resources.0.6.1.0/content/Resources/Icons.xaml
/packages/MahApps.Metro.Resources.0.6.1.0/content/Resources/IconsNonShared.xaml
/packages/MahApps.Metro.Resources.0.6.1.0/content/Resources/WindowsIcons-license.txt
/packages/NetOffice.Core.1.7.4.4/.signature.p7s
/packages/NetOffice.Core.1.7.4.4/NetOffice.Core.1.7.4.4.nupkg
/packages/NetOffice.Core.1.7.4.4/lib/net20/NetOffice.dll
/packages/NetOffice.Core.1.7.4.4/lib/net20/NetOffice.xml
/packages/NetOffice.Core.1.7.4.4/lib/net20/OfficeApi.dll
/packages/NetOffice.Core.1.7.4.4/lib/net20/OfficeApi.xml
/packages/NetOffice.Core.1.7.4.4/lib/net20/VBIDEApi.dll
/packages/NetOffice.Core.1.7.4.4/lib/net20/VBIDEApi.xml
/packages/NetOffice.Core.1.7.4.4/lib/net30/NetOffice.dll
/packages/NetOffice.Core.1.7.4.4/lib/net30/NetOffice.xml
/packages/NetOffice.Core.1.7.4.4/lib/net30/OfficeApi.dll
/packages/NetOffice.Core.1.7.4.4/lib/net30/OfficeApi.xml
/packages/NetOffice.Core.1.7.4.4/lib/net30/VBIDEApi.dll
/packages/NetOffice.Core.1.7.4.4/lib/net30/VBIDEApi.xml
/packages/NetOffice.Core.1.7.4.4/lib/net35/NetOffice.dll
/packages/NetOffice.Core.1.7.4.4/lib/net35/NetOffice.xml
/packages/NetOffice.Core.1.7.4.4/lib/net35/OfficeApi.dll
/packages/NetOffice.Core.1.7.4.4/lib/net35/OfficeApi.xml
/packages/NetOffice.Core.1.7.4.4/lib/net35/VBIDEApi.dll
/packages/NetOffice.Core.1.7.4.4/lib/net35/VBIDEApi.xml
/packages/NetOffice.Core.1.7.4.4/lib/net40/NetOffice.dll
/packages/NetOffice.Core.1.7.4.4/lib/net40/NetOffice.xml
/packages/NetOffice.Core.1.7.4.4/lib/net40/OfficeApi.dll
/packages/NetOffice.Core.1.7.4.4/lib/net40/OfficeApi.xml
/packages/NetOffice.Core.1.7.4.4/lib/net40/VBIDEApi.dll
/packages/NetOffice.Core.1.7.4.4/lib/net40/VBIDEApi.xml
/packages/NetOffice.Core.1.7.4.4/lib/net45/NetOffice.dll
/packages/NetOffice.Core.1.7.4.4/lib/net45/NetOffice.xml
/packages/NetOffice.Core.1.7.4.4/lib/net45/OfficeApi.dll
/packages/NetOffice.Core.1.7.4.4/lib/net45/OfficeApi.xml
/packages/NetOffice.Core.1.7.4.4/lib/net45/VBIDEApi.dll
/packages/NetOffice.Core.1.7.4.4/lib/net45/VBIDEApi.xml
/packages/NetOffice.Core.1.7.4.4/tools/install.ps1
/packages/NetOffice.Excel.1.7.4.4/.signature.p7s
/packages/NetOffice.Excel.1.7.4.4/NetOffice.Excel.1.7.4.4.nupkg
/packages/NetOffice.Excel.1.7.4.4/lib/net20/ExcelApi.dll
/packages/NetOffice.Excel.1.7.4.4/lib/net20/ExcelApi.xml
/packages/NetOffice.Excel.1.7.4.4/lib/net30/ExcelApi.dll
/packages/NetOffice.Excel.1.7.4.4/lib/net30/ExcelApi.xml
/packages/NetOffice.Excel.1.7.4.4/lib/net35/ExcelApi.dll
/packages/NetOffice.Excel.1.7.4.4/lib/net35/ExcelApi.xml
/packages/NetOffice.Excel.1.7.4.4/lib/net40/ExcelApi.dll
/packages/NetOffice.Excel.1.7.4.4/lib/net40/ExcelApi.xml
/packages/NetOffice.Excel.1.7.4.4/lib/net45/ExcelApi.dll
/packages/NetOffice.Excel.1.7.4.4/lib/net45/ExcelApi.xml
/packages/NetOffice.Excel.1.7.4.4/tools/install.ps1
/packages/NetOffice.Word.1.7.4.4/.signature.p7s
/packages/NetOffice.Word.1.7.4.4/NetOffice.Word.1.7.4.4.nupkg
/packages/NetOffice.Word.1.7.4.4/lib/net20/WordApi.dll
/packages/NetOffice.Word.1.7.4.4/lib/net20/WordApi.xml
/packages/NetOffice.Word.1.7.4.4/lib/net30/WordApi.dll
/packages/NetOffice.Word.1.7.4.4/lib/net30/WordApi.xml
/packages/NetOffice.Word.1.7.4.4/lib/net35/WordApi.dll
/packages/NetOffice.Word.1.7.4.4/lib/net35/WordApi.xml
/packages/NetOffice.Word.1.7.4.4/lib/net40/WordApi.dll
/packages/NetOffice.Word.1.7.4.4/lib/net40/WordApi.xml
/packages/NetOffice.Word.1.7.4.4/lib/net45/WordApi.dll
/packages/NetOffice.Word.1.7.4.4/lib/net45/WordApi.xml
/packages/NetOffice.Word.1.7.4.4/tools/install.ps1
